* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    width: 100px;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
}
.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    margin: 20px auto;
}
.row {
    border: none; 
}
.hiddenRefreshButton {
    display: none;
    font-size: 18px;
    padding: 10px 10px;
    cursor: pointer;
}