* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.outer {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.colors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}
h1 {
    margin: 5px;
    margin-left: 120px;
}
input {
    width: 100px;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
}
.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 540px;
    height: 540px;
    margin: 20px auto;
    box-sizing: border-box;
}
.row {
    border: none; 
}
.hiddenRefreshButton {
    display: none;
    font-size: 18px;
    padding: 10px 10px;
    cursor: pointer;
    margin-left: 110px;
}

.col {
    width: 100px;
    height: 100px;
    border: none;
    margin-bottom: 1px;
    cursor: pointer;
}
.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
}
.violet {
    background-color: purple;
}
.clear {
    background-color: white;
    border: solid 0.5px black;
}