* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}
.container {
    margin: 10px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.row {
    background-color: rosybrown;
    box-sizing: border-box;
    border: 1px solid #000; 
    margin: 5px;
}