* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 100px;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
}
.container {
    margin: 10px auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
.row {
    box-sizing: border-box;
    border: 1px solid #000; 
    margin: 2px;
}
.hiddenRefreshButton {
    display: none;
    font-size: 18px;
    padding: 10px 10px;
    cursor: pointer;
}