* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}
.container {
    margin: 10px auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
.row {
    background-color: rosybrown;
    box-sizing: border-box;
    border: 1px solid #000; 
    margin: 2px;
}
.row:hover {
    background-color: aqua;
}